* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

.header__left {
  display: flex;
  align-items: center; }
  .header__left a {
    flex-grow: 1; }
  .header__left .categories {
    flex-grow: 1; }
  .header__left form {
    flex-grow: 5; }
    .header__left form .input-group {
      border: 1px solid #eeeeee; }
    .header__left form input {
      border: transparent; }
      .header__left form input:focus {
        box-shadow: none; }
      .header__left form input::placeholder {
        color: red; }
    .header__left form i {
      padding: 12px;
      background-color: white;
      color: red;
      cursor: pointer; }
      .header__left form i:hover {
        background-color: red;
        color: white; }

.btn__login {
  border: 1px solid; }

.carousel {
  background-image: url(./../../img/cover.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; }
  .carousel form input {
    border: transparent; }
    .carousel form input:focus {
      box-shadow: none; }
    .carousel form input::placeholder {
      color: red; }
  .carousel form i {
    padding: 12px;
    background-color: white;
    color: red;
    cursor: pointer; }
    .carousel form i:hover {
      background-color: red;
      color: white; }

.courses .service {
  background-color: lightcoral;
  color: #fff;
  height: 110px; }
  .courses .service span {
    font-size: 60px;
    margin-top: -12px; }
  .courses .service .service__text-title {
    font-weight: bold; }
  .courses .service .service__text-content {
    font-size: 14px; }
.courses .courses__list .main-courses {
  padding-top: 25px; }
  .courses .courses__list .main-courses .left-side {
    background-color: #f3f3f3;
    padding: 20px;
    height: 350px; }
    .courses .courses__list .main-courses .left-side h3 {
      font-size: 19px;
      font-weight: 700;
      line-height: 1.47em; }
    .courses .courses__list .main-courses .left-side p {
      color: #29303b; }
  .courses .courses__list .main-courses .right-side .nav-pills li {
    margin: 20px; }
  .courses .courses__list .main-courses .right-side .nav-pills li a {
    color: #000;
    text-decoration: none; }
  .courses .courses__list .main-courses .right-side .course {
    padding: 5px; }
    .courses .courses__list .main-courses .right-side .course .course-item {
      border: 1px solid #e6e1e1;
      height: 300px; }
      .courses .courses__list .main-courses .right-side .course .course-item img {
        width: 100%; }
      .courses .courses__list .main-courses .right-side .course .course-item .course-item__title {
        margin-top: 12px;
        font-size: 15px;
        font-weight: 600; }
      .courses .courses__list .main-courses .right-side .course .course-item .course-item__content {
        color: #a5a3a3; }
      .courses .courses__list .main-courses .right-side .course .course-item .rating {
        margin: auto; }
        .courses .courses__list .main-courses .right-side .course .course-item .rating .rating_number {
          font-weight: bold; }

/*# sourceMappingURL=style.css.map */
