@mixin search {
  input {
    border: transparent;
    // position: relative;
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: $color-black-light;
    }
  }
  span {
    padding: 12px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
    color: $color-red-0;
    &:hover {
      color: $color-black-0;
    }
  }
}
