@mixin search {
  input {
    border: transparent;
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: red;
    }
  }
  i {
    padding: 12px;
    background-color: $color;
    color: red;
    cursor: pointer;
    &:hover {
      background-color: red;
      color: $color;
    }
  }
}
@mixin display {
  display: flex;
}
@mixin navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 110px;
  list-style: none;
}
