@import './button';

.header__left {
  display: flex;
  align-items: center;

  a {
    flex-grow: 1;
  }

  .categories {
    flex-grow: 1;
  }

  form {
    flex-grow: 5;

    .input-group {
      border: 1px solid #eeeeee;
      position: relative;
      @include search();

    }
  }
}

.collapse{
  ul{
    li{
      a{
        font-size: $fs-0;
        span{
          font-size: $fs-0;
          margin: 10px;
        }
      }
    }
  }
}
