@import "./button";

.header__left {
  display: flex;
  align-items: center;

  a {
    flex-grow: 1;
  }

  .categories {
    flex-grow: 1;
  }

  form {
    flex-grow: 5;

    .input-group {
      border: 1px solid #eeeeee;
    }
    @include search();
  }
}

.btn__login {
  border: 1px solid;
}
